table{
	width: 70%;
}
li{
	display: inline;
	margin: 10px;
}
#first{
	background-color: red;

}
#second{
	margin: 0;
	padding: 0;
	height: 300px;
	background-color: yellow;

}
#third{
	background-color: white;
}
#popup, #fourth{
	float: right;
}

#fourth ul li{
	display: block;
}